src/XML/disciplines.dtd

<!ELEMENT disciplines (discipline+)>
<!ELEMENT discipline (disciplineName,disciplineId,credits,requiredSpace,professors)>
<!ELEMENT disciplineName (#PCDATA)>
<!ELEMENT disciplineId (#PCDATA)>
<!ELEMENT credits (#PCDATA)>
<!ELEMENT requiredSpace (#PCDATA)>
<!ELEMENT professors (professor+)>
<!ELEMENT professor (#PCDATA)>